<section class="w-[350px] 430:w-[390px] sm:w-[576px] md:w-[768px] lg:w-[992px] xl:w-[1200px] 2xl:w-[1386px] mb-10 h-[50px] m-auto xl:mt-10">
  <div class="swiper mySwiper w-full h-full mx-auto">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/shw.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/ass.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/adi.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/adm.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/iso.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/vtr.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/wil.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/ele.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/kaw.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/kmn.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/gos.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/snp.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/swt.png", alt: "Description", class:"block content-fit") %></div>
    </div>
  </div>
  <div class="swiper mySwiper w-full h-full mx-auto">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/stc.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/slc.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/ddm.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/dun.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/tec.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/toa.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/tor.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/nwb.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/bbl.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/fil.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/pri.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/pkn.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/hed.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/bwb.png", alt: "Description", class:"block content-fit") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)] !flex !items-center border px-4"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/plf.png", alt: "Description", class:"block content-fit") %></div>
    </div>
  </div>
</section>





<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script> 
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2,
    loop: true,
    autoplay: {
      delay: 3000,
      pauseOnMouseEnter: true,
      disableOnInteraction: false,
    },
    // spaceBetween: 20,
    breakpoints: {
      100: {
        slidesPerView: 3,
        // spaceBetween: 20,
      },
      500: {
        slidesPerView: 4,
        // spaceBetween: 20,
      },
      700: {
        slidesPerView: 5,
        // spaceBetween: 20,
      },
      900: {
        slidesPerView: 6,
        // spaceBetween: 20,
      },
      1200: {
        slidesPerView: 8,
        // spaceBetween: 30,
      },
  }});
</script>



 