<section class="wrapper pt-3 mb-10 h-[120px] w-full">
  <div class="swiper mySwiper w-full h-full mx-auto swiper-wrapper">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/shw.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/ass.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/adi.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/adm.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/iso.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/vtr.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/wil.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/ele.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/kaw.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/kmn.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/gos.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/snp.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/swt.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/stc.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/slc.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/ddm.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/dun.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/tec.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/toa.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/tor.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/nwb.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/bbl.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/fil.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/pri.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/pkn.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/hed.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/bwb.png", alt: "Description", class:"w-auto") %></div>
      <div class="swiper-slide bg-white h-[calc((100%-30px)/2)]"> <%= image_tag("https://www.racket.co.jp/includes/templates/racket_plaza/images/logo/plf.png", alt: "Description", class:"w-auto") %></div>
    </div>
  </div>
</section>





<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script> 
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 8,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    grid: {
      rows: 2,
    },
    spaceBetween: 30,
  });
</script>



 